#header{
    display: flex;
    flex-direction: column;
    background-color: #dadd40;
}

#logo{
    color: #ffffff;
    font-size: 40px;
    padding: 25px;
    font-weight: bold;
}


#btt_menu{
    display: none;
}

label[for="btt_menu"]{
    display: none;
    position: absolute;
    padding: 10px;
    color: #ffffff;
    font-size: 50px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;
}

li{
    float:left;
}

li a, .drop_btt{
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li:hover, .dropdown:hover, .drop_btt:hover{
    background-color: #3b4960;
}

.dropdown_content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #e2e2e2;
    min-width: 160px;
}

.dropdown_content a{
    color: #000000;
    padding: 14px 16px;
    display: block;
    text-align: left;
}

.dropdown_content a:hover{
    background-color: #cacaca;
}

.dropdown:hover .dropdown_content{
    display: block;
}

@media(max-width: 800px){
    #header{
        text-align: center;
    }

    label[for="btt_menu"]{
        display: block;
    }

    #nav{
        display: none;
    }

    #nav li{
        float: none;
        text-align: center;
    }

    #nav .dropdown_content{
        position: relative;
    }

    #nav .dropdown_content a{
        text-align: center;
    }

    #btt_menu:checked ~ #nav{
        display: block;
    }
}

@media(max-width: 425px){
    #logo{
        font-size: 25px;
    }

    label[for="btt_menu"]{
        font-size: 40px;
    }
}